[flake8]
max-line-length = 120
extend-ignore = 
    E999,F821,E501,W503,E283,E302,E305ude = 
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    .pytest_cache,
    migrations,
    tests
per-file-ignores =
    __init__.py:F401,E999,F821
    app/main.py:F821,E999
    app/routes.py:E999
    app/services/*.py:E999,F821
    tests/*.py:E999,F821
