aiofiles==25.1.0
aioredis==2.0.1
alembic==1.11.1
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
astroid==4.0.2
asttokens==3.0.1
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.4.0
Authlib==1.6.6
autopep8==2.3.2
babel==2.17.0
backports.zstd==1.3.0
bandit==1.9.2
bcrypt==5.0.0
beautifulsoup4==4.14.2
billiard==4.2.4
black==25.12.0
bleach==6.3.0
blinker==1.9.0
brotli==1.2.0
cachelib==0.13.0
cachetools==6.2.4
celery==5.3.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.6
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
comm==0.2.3
coverage==7.13.1
cryptography==46.0.3
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
dill==0.4.0
dnspython==2.8.0
dparse==0.6.4
ecdsa==0.19.1
email-validator==2.1.0
executing==2.2.1
fastapi==0.128.0
fastjsonschema==2.21.2
filelock==3.20.1
flake8==7.3.0
Flask==2.3.3
Flask-Caching==2.3.1
Flask-Compress==1.23
Flask-Cors==4.0.0
Flask-JWT-Extended==4.4.4
Flask-Limiter==3.5.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
flask-talisman==1.1.0
fqdn==1.5.1
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.45.0
google-auth-oauthlib==1.0.0
graphene==3.4.3
graphene-sqlalchemy==2.1.0
graphql-core==3.2.7
graphql-relay==3.2.0
greenlet==3.3.0
gspread==5.12.0
gunicorn==21.2.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
isort==7.0.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter-server-mathjax==0.2.6
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.0
jupyterlab_git==0.51.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kombu==5.3.0
lark==1.3.1
limits==5.6.0
lxml==6.0.2
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==4.1.2
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
mistune==3.1.4
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbdime==4.0.2
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.2
notebook_shim==0.2.4
numpy==2.4.0
oauthlib==3.3.1
ordered-set==4.1.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
passlib==1.7.4
pathspec==1.0.1
pdfminer.six==20251107
pdfplumber==0.11.8
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
prometheus-client==0.18.0
prompt_toolkit==3.0.52
psutil==7.1.3
psycopg2-binary==2.9.7
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.1.1
pydantic_core==2.4.0
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pylint==4.0.4
PyPDF2==2.6.0
pypdfium2==5.2.0
pytest==7.4.0
pytest-asyncio==1.3.0
pytest-cov==4.1.0
pytest-flask==1.2.0
pytest-mock==3.11.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.0
python-jose==3.3.0
python-json-logger==4.0.0
python-multipart==0.0.21
pytokens==0.3.0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
redis==5.0.0
referencing==0.37.0
regex==2025.11.3
requests==2.31.0
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==13.9.4
rpds-py==0.29.0
rsa==4.9.1
ruamel.yaml==0.18.17
ruamel.yaml.clib==0.2.15
safety==3.7.0
safety-schemas==0.0.16
Send2Trash==1.8.3
sentry-sdk==2.48.0
setuptools==68.0.0
shellingham==1.5.4
singledispatch==4.1.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.20
stack-data==0.6.3
starlette==0.50.0
stevedore==5.6.0
tenacity==9.1.2
terminado==0.18.1
tinycss2==1.4.0
tomlkit==0.13.3
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typer==0.21.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uri-template==1.3.0
urllib3==2.6.2
uvicorn==0.40.0
uvloop==0.22.1
vine==5.1.0
watchfiles==1.1.1
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.4
wrapt==2.0.1
WTForms==3.2.1
